body {
  font-size: 1em;
  line-height: 1.5;
  background: #e7e7e7 url(../img/body-bg.png) 0 0 repeat;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #6d6d6d;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

.span7 {
  margin: {
    left: 0px !important;
  }
}

hr {
  height: 1px;
  line-height: 1px;
  margin: {
    top: 1em;
    bottom: 0px !important;
  }
  padding-bottom: 1em;
  border: {
    top: none !important;
    bottom: none !important;
  }
  background: transparent url('../img/hr.png') 50% 0 no-repeat;
}

#container {
  background: transparent url(../img/highlight-bg.jpg) 50% 0 no-repeat;
  min-height: 595px;
  .inner {
    width: 670px;
    margin: 0 auto;
    height: auto;
    header {
      width: 100%;
      padding: {
        top: 35px;
        bottom: 10px;
      }

      h1 {
        font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
        font-weight: 900;
        letter-spacing: -1px;
        font-size: 35px;
        color: #303030;
        line-height: 1.2;
      }
    }

    article {
      margin: {
        bottom: 50px;
      }
      h3 {
        color: #d5000d;
        display: block;
        font: {
          size: 20px;
          weight: bold;
        }
        margin: {
          bottom: 8px;
        }

        span {
          color: #6d6d6d;
          float: right;
          font: {
            size: 16px;
          }
        }
      }
    }

    footer {
      background: transparent url('../img/hr.png') 0 0 no-repeat;
      font-size: 13px;
      color: #aaa;
      text-align: center;
      margin: {
        top: 40px;
      }
      padding: {
        top: 20px;
        bottom: 30px;
      }
    }
  }
}
